.container {
  padding: 10px;
  background: #080808;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c1c1e;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #333;
}
.monthTitle {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #fff;
}
.header button {
  background: none;
  border: none;
  color: var(--primary);
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  background: #1c1c1e;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #2c2c2e;
}
.dayName {
  text-align: center;
  color: #555;
  font-size: 0.75rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.dayCell {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2c2c2e;
  border-radius: 12px;
  position: relative;
}

/* HOY */
.today {
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.today .dayNumber {
  color: #fff;
  font-weight: bold;
}

/* MARCADO */
.marked {
  background: rgba(255, 46, 99, 0.2);
  border: 1px solid var(--primary);
}
.heart {
  position: absolute;
  font-size: 1.1rem;
}

/* FUTURO */
.future {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

.dayNumber {
  font-size: 0.85rem;
  color: #aaa;
}
