:root {
  --primary: #ff2e63;
  --bg: #080808;
  --card: #1c1c1e;
  --text: #ffffff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.view {
  height: 100vh;
  overflow-y: auto;
  padding: 20px 20px 100px;
  background-color: var(--bg); /* Asegura fondo negro */
}

.hidden {
  display: none !important;
}

.back-btn {
  background: var(--card);
  border: none;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
}
